<div class="trip-add-destination-box" ng-show="editedTrip.isEditing && isAddDestinationShowned">
    <div class="sticky-container">
        <div class="dialog-content">
            <lx-text-field label="[['City' | translate]]">
                <input type="text" ng-model="tempDestination.title" focus-on="add-dialog-show"
                       places-auto-complete types="['geocode']" placeholder="" on-place-changed="placeChanged(place)">
            </lx-text-field>
            <lx-date-picker id="startDate" model="tempDestination.startDate" label="[['Start Date' | translate]]"
                            auto-close="true" locale="es" class="date-start"
                            ng-class="{'dt-picker-error': !tempDestination.hasValidDates()}">
            </lx-date-picker>
            <lx-date-picker id="endDate" model="tempDestination.endDate" label="[['End Date' | translate]]"
                            auto-close="true" locale="es" class="date-end"
                            ng-class="{'dt-picker-error': !tempDestination.hasValidDates()}">
            </lx-date-picker>
        </div>
    </div>
    <div class="box-action-buttons">
        <span flex></span>
        <a class="btn btn--m btn--flat" lx-ripple  ng-click="closeAddDestinationBox()"  translate>
            Cancel
        </a>
        <a class="btn btn--m btn--primary btn--raised" ng-disabled="!tempDestination.readyToSave()"
                ng-click="addDestination()" lx-ripple  translate>
            Add New Destination
        </a>
    </div>
</div>
