<div class="trip-calendar">
    <div class="mt++">
        <span class="trip-calendar-title fs-title display-block mb" translate>Cities to Visit</span>
        <a class="btn-add-city btn btn--m btn--primary btn--flat" ng-show="editedTrip.isEditing" ng-click="showAddDestinationBox()">
            <i class="icon icon--xs icon--flat mdi mdi-plus"></i>
        </a>
        <div class="divider divider--dark"></div>

        {% include "components/add-destination-dialog.html" %}

        <ul class="list mt++">
            <li class="list-row list-row--has-separator city-list-item" ng-repeat="destination in editedTrip.destinations | orderBy: 'startDate'">
                <div class="list-row__primary" ng-hide="editedTrip.isEditing">
                    <a ui-sref="destination({id: trip._id, destinationId: destination._id})">
                        <img ng-src="[[destination.getImage()]]" class="img-round city-image">
                    </a>
                </div>
                <div class="list-row__content" ng-hide="editedTrip.isEditing">
                    <a ui-sref="destination({id: trip._id, destinationId: destination._id})">
                        <span class="display-block">[[destination.city]]</span>
                    </a>
                </div>

                <div class="list-row__primary" ng-show="editedTrip.isEditing">
                    <img ng-src="[[destination.getImage()]]" class="img-round city-image">
                </div>
                <div class="list-row__content" ng-show="editedTrip.isEditing">
                    <span class="display-block">[[destination.city]]</span>
                </div>
                <div class="list-row__secondary city-remove-icon" ng-show="editedTrip.isEditing">
                    <a ng-click="removeDestination(destination)" class="remove-destination-button">
                        <i class="icon icon--xs icon--grey icon--flat mdi mdi-close"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
