<div class="trip-calendar">
    <div class="mt++">
        <span class="trip-calendar-title fs-title display-block mb" translate>Places to Visit on [[editedDestination.city]]</span>
        <a class="btn-add-city btn btn--m btn--primary btn--flat" ng-show="editedDestination.isEditing" ng-click="showAddPOIBox()">
            <i class="icon icon--xs icon--flat mdi mdi-plus"></i>
        </a>
        <div class="divider divider--dark"></div>

        {% include "components/add-poi-dialog.html" %}

        <ul class="list mt++">
            <li class="list-row list-row--has-separator" ng-repeat="poi in editedDestination.pois">
                <div class="list-row__primary">
                    <img src="http://ui.lumapps.com/images/placeholder/2-horizontal.jpg" class="img-round city-image">
                </div>
                <div class="list-row__content">
                    <span class="display-block">[[poi.name]]</span>
                </div>
                <div class="list-row__secondary city-remove-icon" ng-show="editedDestination.isEditing">
                    <a ng-click="removePOI(poi)" class="remove-destination-button">
                        <i class="icon icon--xs icon--grey icon--flat mdi mdi-close"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
