<div class="trip-card">
    <div class="card">
        <div class="left">
            <div class="trip-info">
                <div class="p+">
                    <lx-text-field label="[['Title' | translate]]">
                        <input type="text" ng-model="editedTrip.title">
                    </lx-text-field>
                    <lx-date-picker model="editedTrip.startDate" label="[['Start Date' | translate]]"
                                    auto-close="true" locale="es" class="date-start"
                                    ng-class="{'dt-picker-error': !editedTrip.hasValidDates()}">
                    </lx-date-picker>
                    <lx-date-picker model="editedTrip.endDate" label="[['End Date' | translate]]"
                                    auto-close="true" locale="es" class="date-end"
                                    ng-class="{'dt-picker-error': !editedTrip.hasValidDates()}">
                    </lx-date-picker>
                </div>
            </div>
            <div class="trip-calendar">
                <div class="mt++">
                    <span class="trip-calendar-title fs-title display-block mb" translate>Cities to Visit</span>
                    <button class="btn-add-city btn btn--m btn--primary btn--flat">
                        <i class="icon icon--xs icon--flat mdi mdi-plus"></i>
                    </button>
                    <div class="divider divider--dark"></div>
                    <ul class="list mt++">
                        <li class="list-row list-row--has-separator city-list-item" ng-repeat="destination in trip.destinations">
                            <div class="list-row__primary">
                                <img src="http://ui.lumapps.com/images/placeholder/2-horizontal.jpg" class="img-round city-image">
                            </div>
                            <div class="list-row__content">
                                <span class="display-block">[[destination.city]]</span>
                                <span class="display-block fs-body-1 tc-black-2">[[destination.startDate]]</span>
                                <span class="display-block fs-body-1 tc-black-2">[[destination.endDate]]</span>
                            </div>
                            <div class="list-row__secondary city-remove-icon">
                                <i class="icon icon--xs icon--grey icon--flat mdi mdi-close"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="trip-image-container">
                <div class="card__img card__img--top">
                    <img class="trip-image" src="http://ui.lumapps.com/images/placeholder/2-horizontal.jpg">
                </div>
            </div>
            <div class="trip-map">
                <!--
                <script type="text/ng-template" id="searchbox.tpl.html">
                    <input ng-model="searchPlace" placeholder="Search Box">
                </script>
                -->
                <ui-gmap-google-map center="map.center" pan="true" zoom="map.zoom">
                    <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events" position="searchbox.position"></ui-gmap-search-box>
                    <ui-gmap-polylines models="map.polys" path="'path'" stroke="'stroke'" draggable="'draggable'" editable="'editable'" geodesic="'geodesic'" visible="'visible'" static='false'></ui-gmap-polylines>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
</div>