<div layout="row" layout-align="center center">
    <div flex="66">
        <md-card class="post-card" ng-repeat="trip in trips | orderBy: '-startDate'" id="[[post._id]]">
            <h4>[[trip.title]]</h4>
            <p>from [[trip.startDate | amDateFormat:'MMMM DD, YYYY']]</p>
            <p>to [[trip.endDate | amDateFormat:'MMMM, DD, YYYY']]</p>
        </md-card>

    </div>
</div>


<md-button class="add-trip md-fab md-accent" aria-label="Dialog Trip" ng-click="showAddDialog($event)">
    <md-tooltip>Add New Trip</md-tooltip>
    <i class="fa fa-plus"></i>
</md-button>
