<div layout="row" layout-align="center center">
    <md-content class="standalone-card" flex="40" layout="row" layout-align="center center">
        <div flex="80">
            <h3 translate>Log In</h3>
            <div ng-show="error" class="alert alert-danger row">
                <span>[[ error.message | translate ]]</span>
            </div>
            <form ng-submit="logIn()">
                <md-input-container flex>
                    <label translate>Email</label>
                    <input type="email" ng-model="user.username">
                </md-input-container>
                <md-input-container flex>
                    <label translate>Password</label>
                    <input type="password" ng-model="user.password">
                </md-input-container>
                <div class="md-content-button-containers" layout="row" layout-align="end center">
                    <md-button ng-href="#/home">
                        [["Cancel" | translate]]
                    </md-button>
                    <md-button type="submit" ng-click="post()" class="md-primary">
                        [["Log In" | translate]]
                    </md-button>
                </div>
            </form>
        </div>
    </md-content>
</div>