<div ng-controller="NavigationCtrl">
    <md-toolbar >
        <md-content layout="row">
            <div flex="50">
                <a ng-click="toggleLeft()"><i class="fa fa-bars"></i> </a>
                <h2><a class="md-toolbar-title" ui-sref="home" translate>Permanent Vacations</a></h2>
            </div>
            <div flex="50" class="text-right">
                <a ng-click="toggleRight()">
                    <span ng-show="isLoggedIn()">[[currentUser()]]</span>
                    <img ng-show="isLoggedIn()" gravatar-src="[['currentUser()']]" gravatar-size="100" class="face">
                </a>
                <ul>
                    <li>
                        <a ng-hide="isLoggedIn()" ui-sref="login" translate>Log In</a>
                    </li>
                    <li>
                        <a ng-hide="isLoggedIn()" ui-sref="register" translate>Register</a>
                    </li>
                </ul>
            </div>
        </md-content>
    </md-toolbar>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <md-toolbar layout="row" layout-align="center start">
            <md-content class="text-left">
                <a ng-click="toggleLeft()"><i class="fa fa-arrow-left"></i></a>
            </md-content>
        </md-toolbar>
        <md-content ng-controller="TripCtrl" class="md-padding">
            <ul>
                <li ng-repeat="trip in trips | orderBy: '-startDate'" id="[[trip._id]]">
                    <a ui-sref="trip({id: trip._id})" ng-click="toggleLeft()">[[trip.title]]</a>
                </li>
            </ul>
        </md-content>
    </md-sidenav>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <md-toolbar layout="row" layout-align="center end">
            <md-content class="text-right">
                <a ng-click="toggleRight()">
                    <span ng-show="isLoggedIn()">[[currentUser()]]</span>
                    <img ng-show="isLoggedIn()" gravatar-src="[['currentUser()']]" gravatar-size="100" class="face">
                </a>
            </md-content>
        </md-toolbar>
        <md-content class="md-padding">
            <ul>
                <li ng-show="isLoggedIn()">
                    <a ng-click="logOut()"><i class="fa fa-sign-out"></i> <span translate>Log Out</span></a>
                </li>
            </ul>
        </md-content>
    </md-sidenav>
</div>