<div layout="row" layout-align="center center">
    <div flex="66">
        <md-card class="post-card">
            <h4>[[trip.title]]</h4>
            <p>from [[trip.startDate | amDateFormat:'MMMM DD, YYYY']]</p>
            <p>to [[trip.endDate | amDateFormat:'MMMM, DD, YYYY']]</p>
        </md-card>
    </div>
</div>

<md-button class="add-trip md-fab md-accent" aria-label="Add New Trip" ng-click="showAddDialog($event)">
    <md-tooltip>Add New Trip</md-tooltip>
    <i class="fa fa-plus"></i>
</md-button>

<md-button class="delete-trip md-fab md-accent" aria-label="Delete Trip" ng-click="showDeleteDialog($event)">
    <md-tooltip>Delete Trip</md-tooltip>
    <i class="fa fa-trash"></i>
</md-button>
