<md-dialog aria-label="Dialog Trip" flex="100">
    <md-content class="sticky-container">
        <h3>[[(isNew ? 'Add New Trip' : 'Edit Trip') | translate]]</h3>
        <div class="dialog-content">
            <md-input-container flex>
                <label translate>Title</label>
                <input ng-model="trip.title" placeholder="[["e.g. Summer Vacations" | translate]]">
            </md-input-container>
            <md-input-container flex>
                <label translate>Start Date</label>
                <input ng-model="trip.startDate" placeholder="[["e.g. August 1, 2015" | translate]]">
            </md-input-container>
            <md-input-container flex>
                <label translate>End Date</label>
                <input ng-model="trip.endDate" placeholder="[["e.g. August 1, 2015" | translate]]">
            </md-input-container>
            <md-card class="post-card" ng-repeat="city in trip.cities" id="[[post._id]]">
                <h4>[[city.city]]</h4>
            </md-card>
            <md-button ng-click="addCity()" class="md-primary">
                Add City
            </md-button>
            <script type="text/ng-template" id="searchbox.tpl.html">
                <input ng-model="trip.cities" placeholder="Search Box">
            </script>
            <ui-gmap-google-map center="map.center" zoom="map.zoom" dragging="map.dragging" bounds="map.bounds" events="map.events" options="map.options" pan="true" control="map.control">
                <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events" position="searchbox.position"></ui-gmap-search-box>
            </ui-gmap-google-map>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            [["Cancel" | translate]]
        </md-button>
        <md-button ng-click="accept()" class="md-primary">
            [[(isNew ? 'Add New Trip' : 'Edit Trip') | translate ]]
        </md-button>
    </div>
</md-dialog>