<md-dialog aria-label="Dialog Trip">
    <md-content class="sticky-container">
        <h3>[[isNew ? 'Add New' : 'Edit' ]] Trip</h3>
        <div class="dialog-content">
            <md-input-container flex>
                <label>Title</label>
                <input ng-model="trip.title" placeholder="e.g. Summer Vacations">
            </md-input-container>
            <md-input-container flex>
                <label>Start Date</label>
                <input ng-model="trip.startDate" placeholder="e.g. August 1, 2015">
            </md-input-container>
            <md-input-container flex>
                <label>End Date</label>
                <input ng-model="trip.endDate" placeholder="e.g. August 1, 2015">
            </md-input-container>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button ng-click="accept()" class="md-primary">
            [[isNew ? 'Add' : 'Edit' ]] Trip
        </md-button>
    </div>
</md-dialog>