body {background-color: #eee;}
md-card {background-color: white}
md-toolbar a {
    color: #ddd !important;
    font-weight: bold;
    text-decoration: none !important;
    cursor: pointer;
}
md-toolbar a:hover {
    color: #fff !important;
    text-decoration: none !important;
}
.md-toolbar a:focus {
    color: #fff !important;
    text-decoration: none !important;
}
md-toolbar h1,
md-toolbar h2,
md-toolbar h3,
md-toolbar h4,
md-toolbar h5,
md-toolbar h6 {
    display: inline-block;
    margin: 0;
}
md-toolbar ul {
    list-style: none;
}
md-toolbar li {
    display: inline-block;
    padding: 0 10px 0 10px;
}
md-toolbar md-content {
    background-color: transparent !important;
    line-height: 64px;
    height: 64px;
}
md-toolbar md-content div { padding: 0 20px; }

md-sidenav {
    color: #222;
}
md-sidenav a {
    color: #222 !important;
    font-weight: bold;
    text-decoration: none !important;
    cursor: pointer;
}
md-sidenav a:hover {
    color: #000 !important;
    text-decoration: none !important;
}
.md-sidenav a:focus {
    color: #000 !important;
    text-decoration: none !important;
}
md-sidenav h1,
md-sidenav h2,
md-sidenav h3,
md-sidenav h4,
md-sidenav h5,
md-sidenav h6 {
    display: inline-block;
    margin: 0;
}
md-sidenav ul { list-style: none; }
md-sidenav li { padding: 10px; margin-left: -40px;}

md-content.standalone-card {
    margin-top: 70px;
}
md-content .md-content-button-containers {
    margin: 10px 0 20px 0;
}
md-content .md-content-button-containers button {
    margin: 0 10px;
}
.md-fab {
    position: absolute;
    bottom: 50px;
    right: 10%;
}
.md-sidenav-right {
    top: 64px;
    height: 93vh;
}
.face {
    width: 48px;
    border-radius: 48px;
    border: 1px solid #ddd;
}

.post-card .post-title-container {
    margin-left: 20px;
}
.post-card .post-title-container,
.post-card .post-title-container h1,
.post-card .post-title-container h2,
.post-card .post-title-container h3,
.post-card .post-title-container h4,
.post-card .post-title-container h5,
.post-card .post-title-container h6 {
    display: inline-block;
}
.post-card a { cursor: pointer; }
.post-card a:hover { text-decoration: none; }
.post-card .post-title-container .post-title {
    margin-right: 10px;
}
.post-card .post-info { margin: 10px 20px; }
.post-card .post-info .post-info-item {margin: 0 10px;}

.post-comments {height: 600px;}
.post-comments a { cursor: pointer; }
.post-comments a:hover { text-decoration: none; }
.post-comments .comment-info .comment-info-item {margin: 0 10px;}