{% include "components/trip-card.html" %}

<a class="btn btn--m btn--fab btn-back" lx-tooltip="[['Back to Trip List' | translate]]"
        tooltip-position="left" lx-ripple ui-sref="home">
    <i class="mdi mdi-arrow-left"></i>
</a>

<div class="fab btn-edit-group">
    <button class="fab__primary btn btn--xl btn--fab btn-edit" lx-ripple
            lx-tooltip="[['Edit Trip' | translate]]" tooltip-position="left"
            ui-sref="trip-edit({id: trip._id})">
        <i class="mdi mdi-pencil"></i>
        <i class="mdi mdi-pencil"></i>
    </button>

    <div class="fab__actions fab__actions--up">
        <button class="btn btn--l btn--fab btn-delete" lx-ripple lx-tooltip="[['Delete Trip' | translate]]"
                tooltip-position="left" ng-click="confirmDelete()">
            <i class="mdi mdi-delete"></i></button>
    </div>
</div>
